<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="/static/assets/favicon.png"/>
        <link rel="stylesheet" href="/static/css/shared.css"/>
        <script type="module" src="/static/js/pages/home.js"></script>
        
        <title>Home - Email Aliases</title>
    </head>
    <body>
        <nav class="flexRow">
            <div class="inner flexRow">
                <b class="marginRightAuto">Email Aliases</b>
                <form class="marginLeftAuto" id="logoutForm">
                    <button class="delete" type="submit">Logout</button>
                </form>
            </div>
        </nav>
        <main class="flexColumn widthFit">
            <h1>Create a New Alias</h1>
            <form class="flexRow largeSpaceY" id="aliasForm" method="POST">
                <input class="spaceX" name="iconUrl" type="url" placeholder="Icon Url"/>
                <input class="spaceX" name="serviceName" type="text" placeholder="Service Name"/>
                <select class="spaceX" name="domainId">
                    {{- range $domain := .AuthedUser.Domains}}
                        {{- if not $domain.Disabled}}
                            <option value="{{$domain.ID}}//{{$domain.Domain}}">{{$domain.Domain}}</option>
                        {{end -}}
                    {{end}}
                </select>
                <button class="primary" type="submit">Create&nbsp;&&nbsp;Copy&nbsp;Alias</button>
            </form>

            <h1>Add an Existing Alias</h1>
            <form class="flexRow largeSpaceY" id="existingAliasForm" method="POST">
                <input class="spaceX" name="iconUrl" type="url" placeholder="Icon Url"/>
                <input class="spaceX" name="alias" type="text" placeholder="Existing Alias"/>
                <select class="spaceX" name="domainId">
                    {{- range $domain := .AuthedUser.Domains}}
                        {{- if not $domain.Disabled}}
                            <option value="{{$domain.ID}}//{{$domain.Domain}}">{{$domain.Domain}}</option>
                        {{end -}}
                    {{end}}
                </select>
                <button class="primary" type="submit">Add&nbsp;Existing&nbsp;Alias</button>
            </form>

            <h1>Add a New Domain</h1>
            <form class="flexRow largeSpaceY" id="domainForm" method="POST">
                <input class="spaceX" name="domain" type="text" placeholder="Domain"/>
                <button class="primary" type="submit">Add&nbsp;New&nbsp;Domain</button>
            </form>

            {{- $queryData := .QueryData}}
            
            <h1>Aliases</h1>
            <div class="flexRow mediumSpaceY">
                <span class="switchLabel spaceX">Show disabled</span>
                <label class="switch">
                    <input id="showDisabledAliasesFormToggle" type="checkbox"/>
                </label>
            </div>

            {{- $aliases := .AuthedUser.Aliases -}}
            {{- $domains := .AuthedUser.Domains -}}

            {{- $activeAliases := 0 -}}
            {{- range $alias := $aliases -}}
                {{- if not $alias.Disabled -}}
                    {{- $activeAliases = Add $activeAliases 1 -}}
                {{- end -}}
            {{- end -}}

            {{- $activeDomains := 0 -}}
            {{- range $domain := $domains -}}
                {{- if not $domain.Disabled -}}
                    {{- $activeDomains = Add $activeDomains 1 -}}
                {{- end -}}
            {{- end -}}

            {{if and (eq $activeAliases 0) (not (and (KeyExistsInQueryOrPostData $queryData "showDisabledAliases") (gt (len $aliases) 0)))}}
            <div class="flexColumn largeSpaceY">
                <i>No aliases created yet</i>
            </div>
            {{end}}

            {{- range $domain := $domains -}}
                <div class="flexColumn largeSpaceY noHeightIfEmpty">
                    {{- if or (gt $activeAliases 0) (KeyExistsInQueryOrPostData $queryData "showDisabledAliases") -}}
                        {{- range $alias := $aliases -}}
                            {{- if eq $alias.Domain.ID $domain.ID -}}
                                {{- if not $alias.Disabled -}}
                                    <div class="alias">
                                        {{- if $alias.IconPresent -}}
                                            <img width="20" height="20" class="spaceX aliasImage" src="data:{{$alias.IconMimeType}};base64,{{Base64 $alias.IconData}}"/>
                                        {{end}}
                                        
                                        <span>{{$alias.Alias}}@{{$alias.Domain.Domain}}</span>
                                        
                                        <div>
                                            <form class="deleteForm" method="PATCH" id="aliasDisableForm">
                                                <input hidden name="aliasId" value="{{$alias.ID}}"/>
                                                <button class="delete" type="submit">Delete</button>
                                            </form>
                                            <button class="primary" type="button" onclick="navigator.clipboard.writeText('{{$alias.Alias}}@{{$alias.Domain.Domain}}')">Copy</button>
                                        </div>
                                    </div>
                                {{- end -}}   
                            {{- end -}}   
                        {{- end -}}

                        {{- range $alias := $aliases -}}
                            {{- if eq $alias.Domain.ID $domain.ID -}}
                                {{- if and (KeyExistsInQueryOrPostData $queryData "showDisabledAliases") $alias.Disabled -}}
                                    <div class="alias">
                                        {{- if $alias.IconPresent -}}
                                            <img width="20" height="20" class="spaceX aliasImage" src="data:{{$alias.IconMimeType}};base64,{{Base64 $alias.IconData}}"/>
                                        {{end}}
                                        
                                        <span class="disabledAlias">{{$alias.Alias}}@{{$alias.Domain.Domain}}</span>
                                        
                                        <div>
                                            <form class="deleteForm" method="DELETE" id="aliasEnableForm">
                                                <input hidden name="aliasId" value="{{$alias.ID}}"/>
                                                <button type="submit">Re-enable</button>
                                            </form>
                                            <form class="deleteForm" method="DELETE" id="aliasDeleteForm">
                                                <input hidden name="aliasId" value="{{$alias.ID}}"/>
                                                <button class="delete" type="submit">Delete</button>
                                            </form>
                                            <button class="primary" type="button" onclick="navigator.clipboard.writeText('{{$alias.Alias}}@{{$alias.Domain.Domain}}')">Copy</button>
                                        </div>
                                    </div>
                                {{- end -}}   
                            {{- end -}}   
                        {{- end -}}
                    {{- end -}}
                </div>
            {{- end}}

            <h1>Domains</h1>
            <div class="flexRow mediumSpaceY">
                <span class="switchLabel spaceX">Show disabled</span>
                <label class="switch">
                    <input id="showDisabledDomainsFormToggle" type="checkbox"/>
                </label>
            </div>

            <div class="flexColumn">
                {{- if and (eq $activeDomains 0) (not (and (KeyExistsInQueryOrPostData $queryData "showDisabledDomains") (gt (len $domains) 0))) -}}
                    <i>No domains created yet</i>
                {{- end -}}

                {{- if or (gt $activeDomains 0) (KeyExistsInQueryOrPostData $queryData "showDisabledDomains") -}}
                    {{- range $domain := $domains -}}
                        {{- if not $domain.Disabled -}}
                            <div class="alias">
                                <span>{{$domain.Domain}}</span>
                                
                                <div>
                                    <form class="deleteForm" method="PATCH" id="domainDisableForm">
                                        <input hidden name="domainId" value="{{$domain.ID}}"/>
                                        <button class="delete" type="submit">Delete</button>
                                    </form>
                                    <button class="primary" type="button" onclick="navigator.clipboard.writeText('{{$domain.Domain}}')">Copy</button>
                                </div>
                            </div>
                        {{- end -}}
                    {{- end -}}

                    {{- range $domain := $domains -}}
                        {{- if and (KeyExistsInQueryOrPostData $queryData "showDisabledDomains") $domain.Disabled -}}
                            <div class="alias">
                                <span class="disabledAlias">{{$domain.Domain}}</span>
                                
                                <div>
                                    <form class="deleteForm" method="PATCH" id="domainEnableForm">
                                        <input hidden name="domainId" value="{{$domain.ID}}"/>
                                        <button type="submit">Re-enable</button>
                                    </form>
                                    <form class="deleteForm" method="DELETE" id="domainDeleteForm">
                                        <input hidden name="domainId" value="{{$domain.ID}}"/>
                                        <button class="delete" type="submit">Delete</button>
                                    </form>
                                    <button class="primary" type="button" onclick="navigator.clipboard.writeText('{{$domain.Domain}}')">Copy</button>
                                </div>
                            </div>
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
            </div>
        </main>
    </body>
</html>