<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="/static/assets/favicon.png"/>
        <link rel="stylesheet" href="/static/css/shared.css"/>
        <script type="module" src="/static/js/pages/setup.js"></script>
        
        <title>Setup - Email Aliases</title>
    </head>
    <body>
        <nav class="flexRow">
            <div class="inner flexRow">
                <b class="marginRightAuto">Email Aliases</b>
            </div>
        </nav>
        <main class="flexColumn">
            <div class="largeSpaceY"></div>
            <div class="largeSpaceY"></div>
            <form class="marginLeftAuto marginRightAuto flexColumn" id="form">
                <h1 class="mediumSpaceY">Setup</h1>
                <div class="flexColumn largeSpaceY">
                    <input class="mediumSpaceY" type="text" name="username" placeholder="Username"/>
                    <input class="mediumSpaceY" type="password" name="password" placeholder="Password"/>
                    <input class="mediumSpaceY" type="password" name="passwordConfirm" placeholder="Password Confirm"/>
                    <div class="buttonRow">
                        <button class="primary" type="submit">Setup</button>
                        <a role="button" href="/login">To Login</a>
                    </div>
                </div>
            </form>
        </main>
    </body>
</html>